<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sebao
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
      <ion-input #a></ion-input>
      <ion-input #b></ion-input>
      <ion-button expand="block" shape="round" [routerLink]="['/tpv/']">
        TPV
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" shape="round" [routerLink]="['/inventario/']">
        Inventario
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" shape="round" [routerLink]="['/stock/']">
        Añadir stock
      </ion-button>
    </ion-col>
  </ion-row>  

</ion-content>
